/******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/

.font-sm {
  font-size: 19px;
}
.font-md {
  font-size: 23px;
}
.font-lr {
  font-size: 24px;
}
.font-lg {
  font-size: 36px;
}
.mb-lg {
  margin-bottom: 150px !important;
}
.pb-lg {
  padding-bottom: 150px !important;
}

.br_sp {
  display: none;
}

