$cWhite: white;
$cBlack: black;
$cGray: rgb(216, 216, 216);
$contentMaxWidth: 1070px;
$navHeight: 100px;
$cBlue: #329bf1;
$cAqua: rgba(104, 155, 255, 0.2);
$cDarkBlue: rgba(61, 106, 221, 1);
$cDark: rgb(41, 41, 41);